<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h2>Login Form</h2>]
<%= form_for @user do |f| %>
   <%= f.text_field :name %>
   <%= f.password_field :password %>
   <%= f.submit %>
<% end %>